<section class="page-title gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Product Detail</h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active theme-cl" aria-current="page">Product Detail</li>
                        </ol>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="pr_detail">
    <div class="container">
        <div class="row">
        <div class="col-lg-5 col-md-5">
        <div id="detail">

<div class="product-images demo-gallery">
<!-- Begin Product Images Slider -->
<div class="main-img-slider">
   <a data-fancybox="gallery" href="#"><img src="assets/img/books.jpg" class="img-fluid"></a>
   <a data-fancybox="gallery" href="#"><img src="assets/img/books3a.jpg" class="img-fluid"></a>
   <a data-fancybox="gallery" href="#"><img src="assets/img/books8.jpg" class="img-fluid"></a>
   <a data-fancybox="gallery" href="#"><img src="assets/img/books9.jpg" class="img-fluid"></a>
   <a data-fancybox="gallery" href="#"><img src="assets/img/books7.jpg" class="img-fluid"></a>
  </div>
<!-- End Product Images Slider -->

<!-- Begin product thumb nav -->
<ul class="thumb-nav">
<li><img src="assets/img/books.jpg"></li>
<li><img src="assets/img/books3a.jpg"></li>
<li><img src="assets/img/books8.jpg"></li>
<li><img src="assets/img/books9.jpg"></li>
<li><img src="assets/img/books7.jpg"></li>
</ul>
<!-- End product thumb nav -->
</div>

</div>
        </div>
            <div class="col-lg-7 col-md-7">
                
                <div class="woocommerce single_product quick_view_wrap">
                
                    
                    
                    <div class="summary entry-summary">
                        <div class="woo_inner">
                        
                            <h2 class="woo_product_title">
                                <a href="#">The complete business plan course includes 50 chapters</a>
                            </h2>
                            <ul class="woo_info">
                                <li><strong>Category:</strong> Design</li>
                                <li><strong>SKU:</strong> #CDP0147</li>
                            </ul>
                            <div class="woo_price_rate">
                                <div class="woo_rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="woo_price_fix">
                                    <h3 class="mb-0 theme-cl">Rs.149.00</h3>
                                </div>
                            </div>
                            <div class="woo_short_desc">
                                <p>For many student teachers the prospect of facing their first classroom experience is overwhelming. </p><p>This book presents a realistic view of what they will face in the classroom, but also provides them the skills they need to become reflective, professional teachers in their own right.</p>
                            </div>
                            <ul class="woo_info">
                                <li><strong>Book/Notes Sold By: </strong> Unacademy <img src="https://v.fastcdn.co/u/67ec1086/45780175-0-logo.png" height="20"></li>
                                
                            </ul>
                            <div class="quantity-button-wrapper">
                                <label>Quantity</label>
                                <div class="quantity">
                                    <input type="number" class="form-control qty" min="1" value="1" title="Qty" placeholder="">
                                </div>
                            </div>
                            <div class="woo_buttons">
                                <a href="shopping-cart.html" type="submit" class="btn btn-theme2">ADD TO CART</a> &nbsp;  &nbsp; <a href="shopping-cart.html" type="submit" class="btn btn-theme2 yellow-bg">BUY NOW</a>
                                </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-10 col-md-12 col-sm-12">
                
                <div class="property_block_wrap_header">
                    <ul class="nav nav-tabs customize-tab tabs_creative" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true" aria-expanded="true">Description</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false" aria-expanded="false">Custom Detail</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" id="upgrade-tab" data-toggle="tab" href="#upgrade" role="tab" aria-controls="upgrade" aria-selected="false" aria-expanded="false">Reviews</a>
                      </li>
                      
                    </ul>
                </div>
                
                <div class="tab-content tabs_content_creative" id="myTabContent">
                    
                    <!-- general Query -->
                    <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab" aria-expanded="true">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>									
                    </div>
                    
                    <!-- general Query -->
                    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab" aria-expanded="false">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Product ID</th>
                                        <td>#PRT123452</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Weight</th>
                                        <td>125kg</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SKU</th>
                                        <td>SKL125002</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Color</th>
                                        <td>Black</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>									
                    </div>
                    
                    <!-- general Query -->
                    <div class="tab-pane fade" id="upgrade" role="tabpanel" aria-labelledby="upgrade-tab" aria-expanded="false">
                        
                        <div class="alert alert-success" role="alert">
                            No any reviews yet
                        </div>
                        
                    </div>
                
                </div>
                
            </div>
            
        </div>
    </div>
</section>
