<section class="page-title gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Track Order </h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active theme-cl" aria-current="page">Track Order</li>
                        </ol>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        
        <div class="row justify-content-start">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 ">&nbsp;</div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 ">
  <div class="ps-document">
    <p>To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received</p>
    <form class="ps-form--orders-tracking" action="do_action" method="post">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
          <div class="form-group">
            <label> Order ID</label>
            <input class="form-control" type="text" placeholder="Found in your order information email.">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
          <div class="form-group">
            <label> Billing Email</label>
            <input class="form-control" type="text" placeholder="Email you used during checkout">
          </div>
        </div>
      </div>
      <div class="form-group submit">
        <button class="ps-btn ps-btn--black ps-btn--outline">Track</button>
      </div>
    </form>
  </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 ">&nbsp;</div>
        </div>
    </div>
</section>