<div class="header header-transparent change-logo">
  <div class="container1" style="padding:0 20px;">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header"> <a class="nav-brand static-logo" href="#"><img src="assets/img/logo-light.png" class="logo" alt="" /></a> <a class="nav-brand fixed-logo" href="#"><img src="assets/img/logo.png" class="logo" alt="" /></a>
        <div class="nav-toggle"></div>
        <div class="mobile_nav">
          <ul>
            <li> <a href="javascript:void(0);" data-toggle="modal" data-target="#login" class="crs_yuo12 w-auto text-white theme-bg"> <span class="embos_45"><i class="fas fa-sign-in-alt mr-1"></i>Sign In</span> </a> </li>
          </ul>
        </div>
      </div>
      <div class="nav-menus-wrapper">
        <ul class="nav-menu">
          <li><a [routerLink]="['/cms/category-details', 'Entrance Exam']">Entrance Exam</a></li>
          <li><a  [routerLink]="['/cms/category-details','Government Exam']">Government Exam</a></li>
          <li><a [routerLink]="['/cms/category-details','Magazines']">Magazines</a></li>
          <li><a [routerLink]="['/cms/category-details','Current Affairs']">Current Affairs</a></li>
          <li><a [routerLink]="['/cms/category-details','NCERT']">NCERT</a></li>
          <li><a [routerLink]="['/cms/category-details','Topper Notes']">Topper Notes</a></li>
          <li><a [routerLink]="['/cms/category-details','Class 1 To 10']">Class 1 To 10</a></li>
        </ul>
        <ul class="nav-menu nav-menu-social align-to-right">
           <li> <a href="javascript:void(0);" data-target="#search" data-toggle="modal" class="text-white"> <i class="fas fa-search"></i></a> </li>
          <li> <a routerLink="/cms/shopping-cart" class="alio_green"> <i class="fas fa-shopping-cart mr-1"></i><span class="dn-lg">Cart</span> </a> </li>
          <li class="add-listing yellow-bg"> <a href="javascript:void(0);" data-target="#login" data-toggle="modal" class="text-white"> <i class="fas fa-sign-in-alt mr-1"></i> Sign in</a> </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="top-menu-new" style="display:none">
    <div class="container">
      <nav id="navigation" class="navigation navigation-landscape">
        <div class="nav-menus-wrapper">
          <ul class="nav-menu">
            <li><a href="category-details.html">Entrance Exam</a></li>
          <li><a href="category-details.html">Government Exam</a></li>
          <li><a href="category-details.html">Magazines</a></li>
          <li><a href="category-details.html">Current Affairs</a></li>
          <li><a href="category-details.html">NCERT</a></li>
          <li><a href="category-details.html">Topper Notes</a></li>
          <li><a href="category-details.html">Class 1 To 10</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>