<div class="ed_detail_head" style="background:#f4f4f4 url(assets/img/banner-3.jpg);" data-overlay="8">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="authi_125">
                    <div class="authi_125_thumb">
                        <img src="assets/img/t-2.png" class="img-fluid rounded" alt="">
                    </div>
                    <a href="#" class="klio_45"><div class="lklo_45"><i class="fas fa-play"></i></div><h6>Preview</h6></a>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="dlkio_452">
                    <div class="ed_detail_wrap">
                        <div class="crs_cates cl_1"><span>Notes</span></div><div class="crs_cates cl_3"><span>Books</span></div>
                        <div class="ed_header_caption">
                            <h2 class="ed_title">{{id}}</h2>
                            <ul>
                                <li><i class="ti-calendar"></i>150 Books</li>
                                <li><i class="ti-control-forward"></i>50 Institution</li>
                                <li><i class="ti-user"></i>502 Teacher Notes</li>
                            </ul>
                        </div>
                        <div class="ed_header_short">
                            <p>Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum. accusantium doloremque laudantium,vitae dicta <a href="#" class="theme-cl">Read More..</a>.</p>
                        </div>
                        
                        <div class="ed_rate_info">
                            <div class="star_info">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="review_counter">
                                <strong class="high">4.7</strong> 3572 Reviews
                            </div>
                        </div>
                        
                    </div>
                    <div class="dlkio_last">
                        <div class="ed_view_link">
                            <a href="#" class="btn theme-bg enroll-btn">Get Membership<i class="ti-angle-right"></i></a>
                            <a href="#" class="btn yellow-bg enroll-btn">Share<i class="fas fa-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="p-0 gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141"><i class="fa fa-calendar"></i></div>
                                <div class="dro_142">
                                    <h6>Lifetime Access</h6>
                                    <p>On the all books</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-1"><i class="fa fa-play"></i></div>
                                <div class="dro_142">
                                    <h6>200+ Books & Notes</h6>
                                    <p>Including Old Books</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 st-3"><i class="fa fa-user-shield"></i></div>
                                <div class="dro_142">
                                    <h6>Current Students</h6>
                                    <p>22k Students Enrolled</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>
<section class="gray">
    <div class="container">
        <div class="row">
        
            
            
            <!-- Content -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="short_wraping">
                            <div class="row m-0 align-items-center justify-content-between">
                            
                                <div class="col-lg-4 col-md-5 col-sm-12  col-sm-6">
                                    <div class="shorting_pagination_laft">
                                        <h6 class="m-0">Showing 1-25 of 72</h6>
                                    </div>
                                </div>
                        
                                <div class="col-lg-8 col-md-7 col-sm-12 col-sm-6">
                                    <div class="dlks_152">
                                        <div class="shorting-right mr-2">
                                            <label>Short By:</label>
                                            <div class="dropdown show">
                                                <a class="btn btn-filter dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="selection">Most Rated</span>
                                                </a>
                                                <div class="drp-select dropdown-menu">
                                                    <a class="dropdown-item" href="JavaScript:Void(0);">Most Rated</a>
                                                    <a class="dropdown-item" href="JavaScript:Void(0);">Most Viewd</a>
                                                    <a class="dropdown-item" href="JavaScript:Void(0);">News Listings</a>
                                                    <a class="dropdown-item" href="JavaScript:Void(0);">High Rated</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><h2>BOOKS</h2></div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>UPSC Exam</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">All about UPSC civil service examination.</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">199.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a [routerLink]="['/cms/book-details','1']" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/book3.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_2"><span>NCERT</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Advance PHP knowledge with laravel to make smart web</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">139.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a [routerLink]="['/cms/book-details','1']" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books3a.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_3"><span>Banking</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete accounting & bank financial course 2021</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">79.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a [routerLink]="['/cms/book-details','2']" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a [routerLink]="['/cms/book-details','3']" class="crs_detail_link"> <img src="assets/img/books4.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_4"><span>Current Affairs</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete business plan course includes 50 chapters</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">129.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a [routerLink]="['/cms/book-details','4']" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books5.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_5"><span>Magazines</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Femina – 3.09 lakh readership 20 web template</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">99.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Enroll Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books6.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>Current Affairs</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Current Affairs 2020 Vol. 1 - for Competitive Exams</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">149.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Enroll Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>UPSC Exam</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">All about UPSC civil service examination.</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">199.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books8.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_3"><span>Banking</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete accounting & bank financial course 2021</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">79.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>          
 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <h2>Class NOTES</h2></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>UPSC Exam</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">All about UPSC civil service examination.</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">199.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/book3.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_2"><span>NCERT</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Advance PHP knowledge with laravel to make smart web</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">139.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books3a.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_3"><span>Banking</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete accounting & bank financial course 2021</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">79.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books4.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_4"><span>Current Affairs</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete business plan course includes 50 chapters</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">129.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"><h2>Old Books</h2></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books5.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_5"><span>Magazines</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Femina – 3.09 lakh readership 20 web template</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">99.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Enroll Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books6.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>Current Affairs</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">Current Affairs 2020 Vol. 1 - for Competitive Exams</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">149.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Enroll Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_1"><span>UPSC Exam</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">All about UPSC civil service examination.</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">199.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"><div class="crs_grid">
    <div class="crs_grid_thumb"> <a href="book-detail.html" class="crs_detail_link"> <img src="assets/img/books8.jpg" class="img-fluid rounded" alt="" /> </a> </div>
    <div class="crs_grid_caption">
      <div class="crs_cates cl_3"><span>Banking</span></div>
      <div class="crs_title">
        <h4><a href="book-detail.html" class="crs_title_link">The complete accounting & bank financial course 2021</a></h4>
      </div>
    </div>
    <div class="crs_grid_foot">
      <div class="crs_flex">
        <div class="crs_fl_first">
          <div class="crs_price">
            <h2><span class="currency">&#8377;</span><span class="theme-cl">79.00</span></h2>
          </div>
        </div>
        <div class="crs_fl_last">
          <div class="crs_linkview"><a href="book-detail.html" class="btn btn_view_detail theme-bg text-light">Buy Now</a></div>
        </div>
      </div>
    </div>
  </div></div> 
            
                </div>
                
                <!-- Pagination -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul class="pagination p-center">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span class="ti-arrow-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item active"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">18</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span class="ti-arrow-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        
        </div>
    </div>
</section>
